@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@Html.ActionLink("New Customer", "CustomerForm", "Customers", new {@class="btn btn-primary"})

<table width="600">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(c => customer.MembershipType.Name)
                </td>
            </tr>
        }
    </tbody>
   
</table>

